*{
	margin:0px;
	padding:0px;
}
#header{
height: 15%;
width: 100%;
background-color: orange;
background-color: #0000aa;
margin-left: 0px;
margin-right: 0px;
background-image: url("C:\Users\12\Desktop\Fedoor74\gg.png");
}
#center{
height: 70%;
width: 70%;
background-color: green;
background-color: #00aaaa;
position: absolute; left:15%; 
font-size: 20;
}
#left{
height: 70%;
width: 15%;
background-color: gray;
background-color: #7777ff;
position: absolute; left:0px
}
#right{
height: 70%;
width: 15%;
background-color: blue;
background-color: #7777ff;
position: absolute; right:0px
}
#footer{
height: 15%;
width: 100%;
background-color: #0000aa;
margin-top:31%;
} 
button{width: 50 px;
height: 50 px;
border: solid #333 1px;
background-color: #ccc;
transition-property: background-color;
transition-duration: 2s;
}
button:hover{
	background-color: red;
}
img: hover{
	outline: 3px solid green;
}
body{transition-duration: .7s}